<!DOCTYPE html>
<html>
    <head>
        <title>The Generics | Store</title>
        <meta name="description" content="This is the description">
        <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch" defer></script>
        <script src="https://js.stripe.com/v3/"></script>
        <link rel="stylesheet" href="styles.css" />
        <script> var stripePublicKey = '<%= stripePublicKey%>' // now we can access stripePublicKey in client side js 
        
        </script>
        <script src="store.js" defer></script>


    </head>
    <body>
        <header class="main-header">
            <nav class="main-nav nav">
                <ul>
                    <li><a href="index.html">HOME</a></li>
                    <li><a href="store">STORE</a></li>
                    
                </ul>
            </nav>
        </header>
        <section class="container content-section">
            <h2 style="text-align: center;">MUSIC</h2>
            <div class="shop-items">
            <% items.music.forEach(function(item){ %><!-- all the code inside here will execute on actual serve before its send to front end client  -->
                <!-- server has total control over items our front end uses , and total control when we send back the diff items the person purchases in order to bill the credit card -->
            
                <div class="shop-item" data-item-id="<%= item.id%>"> <!--put id on our item-->
                    <span class="shop-item-title"><%=item.name %></span> <!-- =  if you wanna render in the code(screen) -->
                    <img class="shop-item-image" src="Images/<%= item.imgName%>">
                    <div class="shop-item-details">
                        <span class="shop-item-price">$<%=item.price /100%></span>
                        <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    </div>
                </div>
                <% })%>   
            </div>
        </section>
        <section class="container content-section">
            <h2 style="text-align: center;">MERCH</h2>
           
            <div class="shop-items">

                <%items.merch.forEach((item)=>{ %>
                    <div class="shop-item" data-item-id="<%=item.id%>">
                        <span class="shop-item-title"><%=item.name%></item.name></span>
                        <img class="shop-item-image" src="Images/<%=item.imgName%>">
                        <div class="shop-item-details">
                            <span class="shop-item-price">$<%=item.price/100%></span>
                            <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                        </div>
                    </div>
                <%})%>


                
            </div>
        </section>
        <section class="container content-section">
            <h2 style="text-align: center;">CART</h2>
            <div class="cart-row">
                <span class="cart-item cart-header cart-column">ITEM</span>
                <span class="cart-price cart-header cart-column">PRICE</span>
                <span class="cart-quantity cart-header cart-column">QUANTITY</span>
            </div>
            <div class="cart-items">
            </div>
            <div class="cart-total">
                <strong class="cart-total-title">Total</strong>
                <span class="cart-total-price">$0</span>
            </div>
            <button class="btn btn-primary btn-purchase" type="button">PURCHASE</button>
        </section>
        <footer class="main-footer">
            <div class="container main-footer-container">
                <h2 style="color: aliceblue;">Refrences - ></h2>
                <ul class="nav footer-nav">
                    <li>
                        <a href="https://www.youtube.com" target="_blank">
                            <img src="Images/YouTube Logo.png">
                        </a>
                    </li>
                    <li>
                        <a href="https://stripe.com/docs" target="_blank">
                            Stripe docs
                        </a>
                    </li>
                    <li>
                        <a href="https://razorpay.com/docs/" target="_blank">
                            Razorpay docs
                        </a>
                    </li>
                </ul>
            </div>
        </footer>
    </body>
</html>